name: CI

on: [pull_request]

jobs:
  build:
    name: tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      # https://docs.astral.sh/uv/guides/integration/github/
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.10"

      - name: tox
        run: uv run tox
